<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head> </head>
<meta charset="utf-8">
<title> Lista Telefônica</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
<script src="lib/angular/angular.min.js"></script>
<script>
	angular.module("listaTelefonica", []);
	angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
		$scope.app = "Lista Telefônica";
		$scope.contatos = [
		{nome:"Pedro", telefone: "99999999", cor:"blue"},
		{nome:"Ana", telefone: "888888888", cor:"red"},
		{nome:"Maria", telefone: "777777777", cor:"pink"}
		];
		$scope.operadoras = [
		{nome:"Oi", codigo: 14, categoria: "Celular"},
		{nome:"Vivo", codigo: 15, categoria: "Celular"},
		{nome:"Tim", codigo: 41, categoria: "Celular"},
		{nome:"Gvt", codigo: 25, categoria: "Fixo"},
		{nome:"Embratel", codigo: 21, categoria: "Fixo"},

		];
		$scope.adicionarContato = function (contato){
			$scope.contatos.push(angular.copy(contato));//array
			delete $scope.contato;
		};
		$scope.apagarContatos = function (contatos) {
			$scope.contatos = contatos.filter(function (contato) {
				if(!contato.selecionado) return contato;
			});
		};
		$scope.isContatoSelecionado = function (contatos) {
			return contatos.some(function (contato){
				return contato.selecionado;
			});
		};
	});
</script>
<style>
input, select{margin-bottom: 15px;}
.selecionado{background: yellow;}


</style>


</script>
<body ng-controller="listaTelefonicaCtrl">
	<div class="container-fluid">
		<div class="jumbotron col-md-3">
			<!--<h4 ng-bind="app"> </h4>-->
			<h4>{{app}} </h4>


			<table class="table" ng-show="contatos.length > 0">
				<tr>
					
					<th>Nome </th>
					<th>Telefone </th>
					<th>Operadora </th>
				</tr>
				<tr ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado" /> </td>
					<td> {{contato.nome }}</td> 
					<td> {{contato.telefone }}</td> 
					<td> {{contato.operadora.nome }}</td> 
					<td><div style="width: 20px;height: 20px;" ng-style="{'background-color': contato.cor}"> </td>
					</tr>

				</table>
				<hr/>

				<form name="contatoForm">
					<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"  ng-required="true" name="nome">
					<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"  ng-required="true" name="telefone">
					<select  class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
						<option value=""> Selecione uma operadora</option>
					</select>
				</form>
				<div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">  Por favor, preencha o nome </div>
				<div ng-show="contatoForm.telefone.$invalid" class="alert alert-danger">  Por favor, preencha o  telefone</div>
				<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato </button>
				<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" 
				ng-if="isContatoSelecionado(contatos)">Apagar Contato </button>
			</div>
		</div>
		<div ng-include="'footer.html'">

		</div>

	</body>
	</html>